canvas{
    position: absolute;
    top: 0;
    left: 0;
}

html {
    height  : 100%;
    overflow: hidden;
}
body {
    height  : 100%;
    overflow: auto;
}
p {
	background-color: #ffc6c6;
  	color: blue;
}